.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }

  background-color: var(--footer-bg-color);
}

@media screen and (min-width: 768px) {
  .tablet-flex {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .box-flex-margin {
    margin-left: 76px;
  }

  .social {
    margin-left: auto;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    align-items: baseline;
  }

  .social {
    margin-left: 70px;
  }

  .last-box {
    margin-left: auto;
  }

  .last-box__label {
    display: flex;
    align-items: center;
  }
}

.address__list {
  margin-top: 20px;

  @media screen and (max-width: 1199.98px) {
    margin-bottom: 60px;
  }
  font-weight: 400;

  @include font(14px, 1.17, 0.03em);
}

.address__map {
  display: block;
  color: var(--color-white);
  font-style: normal;
  margin-bottom: 8px;
}

.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  margin-bottom: 8px;

  &-margin {
    margin-bottom: 0;
  }
}

.social__tittle {
  text-transform: uppercase;
  margin-bottom: 20px;

  @include font(14px, 1.17, 0.03em);

  color: var(--color-white);
}

.social__list {
  @include displey-flex;
  gap: 10px;

  @media screen and (max-width: 1199.98px) {
    margin-bottom: 60px;
  }
}

.social__link {
  @include displey-flex;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  @media screen and (min-width: 768px) {
    transition: background-color var(--transition);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}

.social__icon {
  fill: var(--primari-bg-color);
}

.last-box__input {
  @media screen and (max-width: 1199.98px) {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
  height: 50px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--br);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--color-white);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;

    @include font(16px, 1.25, 0.03em);
  }
}

.last-box__button {
  @include displey-flex;

  @extend %btn;

  width: 200px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  @include font(16px, 1.88, 0.06em);
}

.last-box__icon {
  margin-left: 10px;
  fill: var(--primari-bg-color);
}
