.header {
    background-color: var(--primari-bg-color);
    border: 1px solid var(--primari-bg-color);
    border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 768px) {

    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-menu__button {
        display: inline-flex;
        padding: 0;
        margin: 10px 0;
        border: none;
        background-color: transparent;
    }
}
.mobile-menu__button {
@media screen and (min-width: 768px) {
    display: none;
}
}

.nav {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

// @media screen and (min-width:768px) {
// .nav {
//     display: flex;
//     align-items: center;
// }

// .nav__list {
//     display: flex;
// }

// .nav__mobile {
//     @include displey-flex;
// }

// .nav__item {
//     margin-right: 50px;
// }
// }

// .nav__item:first-child {
//     margin-left: 87px;
//     @media screen and (min-width:1200px){
//         margin-left: 93px;
//     }
// }

// .nav__item .link {
//     display: block;
//     position: relative;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: var(--primary-text-color);

//     font-weight: 500;
//     @include font(14px, 1.14, 0.02em);

//     transition: color var(--transition);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }

//     &-current {
//         color: var(--accent-color);
//     }

//     &-current::after {
//         content: '';
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         height: 4px;
//         width: 100%;
    
//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
// }

// // .contact {
// //     display: flex;
// //     margin-left: auto;
// //     align-items: center;
// // }


// .contact {
//     margin-left: auto;
// }

// .contact__list:not(:last-child) {
//     margin-bottom: 10px;
// }
// .contact__link {
//     display: flex;
//     align-items: center;
//     color: var(--secondary-text-color);

//     font-weight: 500;
//     @include font(14px, 1.14, 0.02em);

//     transition: color var(--transition);

//     &:hover,
//     &:focus {
//             color: var(--accent-color);
//         }
// }

// .contact__icon {
//     margin-right: 10px;
//     fill: currentColor;
// }









