.header {
    background-color: var(--primari-bg-color);
    border: 1px solid var(--primari-bg-color);
    border-bottom: 1px solid #ececec;
}

.header__flex {
    // display: flex;
    align-items: center;
}

.header-mobale {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobale-menu {
    display: inline-flex;
    padding: 0;
    margin: 10px -5px 10px 0;
    border: none;
    background-color: transparent;
}

.mobale-menu .mobale-menu__close {
    display: none;
}

.mobale-menu.is-open .mobale-menu__close {
    display: block;
}

.mobale-menu.is-open .mobale-menu__menu {
    display: none;
}


// .nav {
//     display: flex;
//     align-items: center;
// }

// .nav__list {
//     display: flex;
// }

// .nav__item:not(:last-child) {
//     margin-right: 50px;

//     &:first-child {
//         margin-left: 93px;
//         }
// }

// .nav__item .link {
//     display: block;
//     position: relative;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: var(--primary-text-color);

//     font-weight: 500;
//     @include font(14px, 1.14, 0.02em);

//     transition: color var(--transition);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }

//     &-current {
//         color: var(--accent-color);
//     }

//     &-current::after {
//         content: '';
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         height: 4px;
//         width: 100%;
    
//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
// }

// .contact {
//     display: flex;
//     margin-left: auto;
//     align-items: center;
// }

// .contact__list:not(:last-child) {
//     margin-right: 50px;
// }

// .contact__link {
//     display: flex;
//     align-items: center;
//     color: var(--secondary-text-color);

//     font-weight: 500;
//     @include font(14px, 1.14, 0.02em);

//     transition: color var(--transition);

//     &:hover,
//     &:focus {
//             color: var(--accent-color);
//         }
// }

// .contact__icon {
//     margin-right: 10px;
//     fill: currentColor;
// }

