.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
    text-align: center;

    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--primari-bg-color);
    border-radius: var(--br);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.5) rotateZ(360deg);
    }
}

.button-close {
    @include displey-flex;

    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    background-color: var(--primari-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.button-close__icon {
    fill: #000000;
    transition: fill var(--transition);

    .button-close:hover &,
    .button-close:focus & {
        fill: var(--accent-color);
    }
}

.modal__title {
    @include font(20px, 1.15, 0.03em);

    text-align: center;

    margin-bottom: 12px;
}

.inputs {
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-box__title {
    text-align: start;
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-weight: 400;

    @include font(12px, 1.17, 0.01em);
}

.input-box__box {
    position: relative;
}

.input-box__input {
    height: 40px;
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition);

    &-textarea {
        resize: none;
        height: 120px;
        padding: 12px 16px;
        font-weight: 400;

        @include font(12px, 1.17, 0.01em);
    }

    &-textarea::placeholder {
        color: rgba(117, 117, 117, 0.5);

        @include font(12px, 1.17, 0.01em);
    }

    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
}

.input-box__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--transition);

    .input-box__input:focus+& {
        fill: var(--accent-color);
    }
}

.checkbox {
    margin-bottom: 30px;
}

.checkbox__input {
    @include displey-flex;
}

.checkbox__icon {
    appearance: none;
}

.checkbox__border {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid #000;
    border-radius: var(--br);

    .checkbox__icon:checked~& {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
        background-color: var(--accent-color);
        background-size: contain;
        background-position: 50% 50%;
        background-origin: border-box;
        border: none;
    }
}

.checkbox__text {
    font-weight: 400;

    @include font(14px, 1.7, 0.03em);

    color: var(--secondary-text-color);
}

.checkbox__link {
    color: var(--accent-color);
}

.modal__button {
    @extend %btn;

    width: 200px;
    padding: 10px 52px;

    font-weight: 700;
    @include font(16px, 1.88, 0.06em);
    
    transition: background-color var(--transition);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

