.navi-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.navi-list__item+.navi-list__item {
    margin-left: 8px;
}

.navi-list__button {
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    border-style: none;
    min-width: 73px;
    border-radius: var(--br);
    text-align: center;

    font-weight: 500;

    @include font(16px, 1.62, 0.03em);

    cursor: pointer;
    transition: color var(--transition),
        background-color var(--transition);

        &:first-child {
            padding: 6px 25px;
        }
        
            &:not(:first-child) {
            padding: 6px 22px;
        }

        &:hover,
        &:focus {
            color: var(--color-white);
            background-color: var(--accent-color);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
                        0px 3px 1px rgba(0, 0, 0, 0.1);
        }
}