.team {
    background-color: #f5f4fa;

    text-align: center;
}

.team__title {
    margin-bottom: 30px;

    @include font(28px, 1.17, 0.03em);
}

// .team__list {
//     display: flex;
//     justify-content: space-between;
// }

.team__item {
    max-width: 450px;

    background-color: var(--primari-bg-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-bottom-right-radius: var(--br);
    border-bottom-left-radius: var(--br);

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
//     &:not(:last-child) {
//             margin-right: 30px;
//         }

.borderbox {
    padding-top: 30px;
    padding-bottom: 24px;
}

.borderbox__name,
.borderbox__position {

    @include font(16px, 1.17, 0.03em);
}

.borderbox__name {
    margin-bottom: 10px;
    font-weight: 500;
}

.borderbox__position {
    font-weight: 400;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
}

.social-list__link {
    
    @include displey-flex;

    min-width: 44px;
    min-height: 44px;
    fill: #afb1b8;
}

    //     border-radius: 50%;
//     transition: fill var(transition),
//         background-color var(transition);

//         &:hover,
//         &:focus {
//             background-color: var(--accent-color);
//             fill: var(--primari-bg-color);

