body {
    color: var(--primary-text-color);
    background-color: var(--primari-bg-color);
    font-family: var(--main-font);
    font-weight: 700;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}