@mixin displey-flex {
    
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin font($size, $lh, $ls ) {

    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
}