%btn {

    height: 50px;

    color: var(--primari-bg-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border-style: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

